* {
    margin : 0;
    padding : 0;
}
:root{
    --facebook :#3b5998;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.play-time{
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--facebook);
}
ul{
    list-style: none;
    margin-top: 1rem;
    border: 4px solid var(--facebook);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr)*/
}
li{
    width: 100px;
    height: 100px;
    background: #fff;
    color: #fff;
}
.open{

    background: url("https://placeimg.com/400/400/1");
}
.start-button {
    cursor: pointer;
    background: var(--facebook);
    color: #fff;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    padding : 1rem 2rem;
    margin-top: 1rem;
}
.hint-button{
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1rem;

}
.clear-button{
    cursor: pointer;
    background-color: #fff;
    color: red;
    text-decoration: line-through;
    border: none;
    border-radius: 3px;
    padding: 2px;
    font-weight: bold;
}
.list00{
    background-position-x: 0px;
    background-position-y: 0px;
}
.list01{
    background-position-x: -100px;
    background-position-y: 0px;
}
.list02{
    background-position-x: -200px;
    background-position-y: 0px;
}
.list03{
    background-position-x: -300px;
    background-position-y: 0px;
}
.list04{
    background-position-x: 0px;
    background-position-y: -100px;
}
.list05{
    background-position-x: -100px;
    background-position-y: -100px;
}
.list06{
    background-position-x: -200px;
    background-position-y: -100px;
}
.list07{
    background-position-x: -300px;
    background-position-y: -100px;
}
.list08{
    background-position-x: 0px;
    background-position-y: -200px;
}
.list09{
    background-position-x: -100px;
    background-position-y: -200px;
}
.list10{
    background-position-x: -200px;
    background-position-y: -200px;
}
.list11{
    background-position-x: -300px;
    background-position-y: -200px;
}
.list12{
    background-position-x: 0px;
    background-position-y: -300px;
}
.list13{
    background-position-x: -100px;
    background-position-y: -300px;
}
.list14{
    background-position-x: -200px;
    background-position-y: -300px;
}
.list15{
    background-position-x: -300px;
    background-position-y: -300px;
}

.start-text{
    position: absolute;
    border-color: black;
    font-size: 60px;
    color: blue;
    display: none;;
}.game-text{
    position: absolute;
    font-size: 60px;
    color: blue;
    display: none;;
}
.lose-text{
    position: absolute;
    display: none;
    font-size: 80px;
    color: red;
}